#chapter {
  background-color: #15202b;
  color: #ddd;
  height: 100%;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chapter h1 {
  margin: 5px;
}

#chapter h3 {
  margin: 5px;
  margin-bottom: 15px;
}

#lessons-view {
  overflow: scroll;
  padding-top: 15px;
  padding-right: 20px;
}

.lesson {
  display: flex;
  align-items: center;
}

.lesson:last-child .chapter-line {
  visibility: hidden;
}

.progress-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chapter-blob {
  background: var(--blue-1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 2;
}

.chapter-line {
  background: var(--blue-1);
  width: 5px;
  height: 50px;
  margin: -10px;
  transform: translateY(5px);
}

.link {
  text-decoration: none;
}

.lesson-title {
  color: #ddd;
  transform: translateY(-10px);
}

.link:hover .lesson-title {
  color: #aaa;
}
