.chapter {
  background: var(--blue-2);
  color: var(--white);
  width: 15rem;
  height: calc(100% - 4rem);
  padding: 10px;
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chapterNumber {
  font-size: 2.5rem;
  /* color: var(--white); */
  margin: 2px;
  padding: 0;
  /* margin-left: 10px; */
}

.chapterTitle {
  font-size: 1.8rem;
  /* color: var(--white); */
  margin: 4px;
  padding: 0;
  /* margin-left: 10px; */
}

.lessons-view * {
  color: white;
  text-decoration: none;
}

.lesson {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
}

.lesson-marker {
  border: 15px solid var(--blue-0);
  border-radius: 15px;
  width: 0;
  height: 0;
  margin-right: 5px;
  z-index: 2;
}

/* .chapter > div > div > p {
  color: var(--white);
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
} */

.link:hover > p {
  color: lightgrey;
}

*:not(:last-child) > .lesson-marker::after {
  content: "";
  display: block;
  background: var(--blue-0);
  border: 5px solid var(--blue-0);
  transform: translate(-50%, 0);
  width: 0;
  height: 3rem;
}
