#root {
  background: white;
  color: black;
}

.banner {
  background-color: #404040;
  color: white;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner > h1 {
  padding: 20px;
  margin: 0;
  font-size: 10rem;
}

.loginBoxes {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.loginBoxes button {
  background-color: #2b5ccf;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: 0;
  border-radius: 10px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.loginBoxes button:hover {
  cursor: pointer;
  text-shadow: black;
}

.body {
  font-size: 15px;
  width: 50%;
  margin: auto;
}