#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid var(--blue-1);
}

#home,
#logo,
#menu {
  gap: 4px;
  display: flex;
  align-items: center;
}

#name {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
}

.icon {
  height: 30px;
  margin: 5px;
}
