#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  height: 2.5rem;
  width: 100%;
  /* box-sizing: border-box; */
  border-bottom: 0.25rem solid var(--blue-1);
}

#home,
#logo,
#menu {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#name {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0.5rem;
  transition: 100ms;
}

.icon:hover {
  height: 1.75rem;
  width: 1.75rem;
  margin: 0;
}
