#nav-bar {
  background-color: var(--blue-1);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home,
#logo,
#menu {
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

#name {
  font-size: 3.5rem;
  line-height: 100%;
}

.icon {
  height: 3rem;
  margin: 5px;
}