#tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2a35;
  height: 100%;
  width: 100%;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #ddd;
  margin-bottom: 1rem;
}

#prev-lesson,
#next-lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-1);
  color: inherit;
  height: 3rem;
  width: 7.5rem;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#prev-lesson:hover,
#next-lesson:hover {
  background-color: #133d81;
}

#lesson-title {
  margin: 0;
  margin-top: 1rem;
  align-self: flex-end;
  font-size: 3rem;
  font-weight: 900;
}

/* -------------------------------------------------- */
#textbox {
  display: flex;
  background-color: #38444d;
  color: #ddd;
  width: 80%;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  box-sizing: border-box;
}

#lesson-desc {
  margin: 0.75rem 0;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

#content {
  width: calc(100% - 8rem);
}

#side-area {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #15202B;
  width: 8rem;
  margin: -1rem -2rem -1rem 2rem;
  padding: 1rem 2rem;
}

#retry {
  background: #15448e;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#retry:hover {
  background: #133d81;
}

#timer-area {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#timer-icon {
  width: 100%;
}

#time {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #ddd;
}