#tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f8f8f8; */
  background-color: #1d2a35;
  margin: 0;
}

#textbox {
  display: flex;
  max-width: 80%;
  color: #ddd;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
  /* padding: 0 50px; */
  /* box-shadow: inset 20px 0 var(--blue-0); */
  /* height: fit-content; */
}

#lesson-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lesson-title {
  margin: 10px 0;
  font-size: 38px;
  font-weight: 900;
}

#lesson-desc {
  margin: 10px 0;
  font-size: 20px;
}

#lesson-marker {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

#blob {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #000;
  font-size: 33px;
  font-weight: 900;
}

#editor {
  align-self: center;
  max-width: 80%;
  border-radius: 10px;
}

.ace_cursor {
  color: blue;
}
