#tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2a35;
  height: 100%;
  width: 100%;
  margin: 0;
}

#textbox {
  display: flex;
  width: 80%;
  color: #ddd;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#lesson-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lesson-title {
  margin: 0.75rem 0;
  font-size: 2.5rem;
  font-weight: 900;
}

#lesson-desc {
  margin: 0.75rem 0;
  font-size: 1.5rem;
}

#lesson-marker {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

#blob {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  color: #000;
  font-size: 3rem;
  font-weight: 900;
}

#editor {
  border-radius: 1rem;
}

.ace_cursor {
  color: blue;
}
